.picters {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.picters__content {
	max-width: 100%;
	max-height: 100%;
	display: flex;
	justify-content:center;

}
.content__brooks {
	max-width: 100%;
	max-height: 100%;
	flex-basis: 33.3333%;
	display: flex;
	flex-direction: column;
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
	}
}
.brooks__item {
	max-width: 100%;
	max-height: 100%;
	flex-basis: 50%;
	display: flex;
	justify-content:center;
	& img{
		width: 100%;
		height: 100%;
		flex-basis: 50%;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.brooks__big {
	flex-basis: 50%;
	max-width: 100%;
	max-height: 100%;
	& img{
		width: 100%;
		height: 100%;
	}
}
.content__item-big {
	flex-basis: 16.66666%;
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
	}
}
.picters__shop {
	flex-basis: 33.3333%;
	display: flex;
	flex-direction: column;
}
.shop__picters-big {
	flex-basis: 50%;
	transition: 0.5s linear;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		transition: 0.5s linear;
	}
}
.shop__picters-big:hover{
		opacity: 1;
		background-color: rgba(110, 183, 154, 1);
		& img{
			opacity: 0.5;
			transition: 0.5s linear;
		}
	}
.shop__icon-block{
	transition: 0.5s linear;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	& span{
		margin-top: 10%;
		display: block;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
	}
}
.shop__item {
	flex-basis: 50%;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	& img{
	flex-basis: 50%;
	object-fit: cover;
		top: 0;
		left: 0;
	}
}
.picetr__discover {
	max-width: 100%;
	height: 200px;
	background-color: #282f35;
}
.discover__button {
	max-width: 100%;
	max-height: 100%;
	padding: 75px 0;
	& button{
	display: block;
	margin: auto;
	width: 300px;
	height: 50px;
	background-color: rgba(255,255,255,0.0);
	border: 1px solid rgba(255,255,255,0.49);
}
	& span{
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
	}
}